{% extends "ProjectBundle:"~ view_layout ~":layout_main_gatsby.html.twig" %}

{% block title %}{% trans %}project.title_bar_name{% endtrans %} | STYLING {{ parent() }}{% endblock %}

{% block html_description %}Official Gatsby Thailand website. Check out our hair styling (moving rubber), hair colour (hair bleach), face care (facial wash) and body care products (deodorant spray).{% endblock %}
{% block html_keywords %}gatsby wax, gatsby moving rubber, gatsby rubber, gatsby moving rubber, gatsby hair wax, gatsby styling wax, gatsby wax hair style, gatsby wax technique, gatsby wax website, gatsby singapore, hair style, hair styles, hairstyle, hair styling, hair styling tips, styling hair, men's hair style, hair wax, men's hair wax, moving rubber, styling technique, hair coloring, men's hair coloring, deodorant, men's deodorant, face care, men's face care, face wash, men's face wash, shaving, dressing pomade, hair jam, clay styling, hair foam, fragrance, facial paper{% endblock %}

{% block html_meta %}
<meta property="og:type" content="website">
<meta property="og:description" content="Official Gatsby Thailand website. Check out our hair styling (moving rubber), hair colour (hair bleach), face care (facial wash) and body care products (deodorant spray).">
<meta property="og:url" content="{{app.request.getSchemeAndHttpHost() ~  path('styling')}}">
<meta property="og:image" content="{{app.request.getSchemeAndHttpHost() ~ asset('gatsby/original/img/og_common.png')}}" />
<meta property="og:title" content="GATSBY | STYLING">
<meta property="og:site_name" content="GATSBY">
<meta name="referrer" content="unsafe-url">
{% endblock %}

{% block products_active %}active{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{############################# original #############################################}
<link rel="stylesheet" type="text/css" href="{{asset('gatsby/original/css/movie.css')}}">

{% endblock %}

{% block breadcrumb %}
  <div id="breadcrumbs">
    <ol class="content-inner">
      <li><a href="{{path('homepage')}}">HOME</a></li>
      <li>STYLING</li>
      {#}<li>{% if (categories|length > 0) %}{{categories[0].getTitle|upper}}{% endif %}</li>#}
    </ol>
  </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
{% block body_class %}page-template page-template-page page-template-movie-techniques page-template-pagemovie-techniques-php page page-id-130 page-child parent-pageid-15{% endblock %}
{% block content %}
<div class="content-wrapper movie">
  <div class="content-inner">
    <section class="section-block">
      <div class="section-inner">
	   {% if product_categories %}
        <h3 class="tit-vertical sticky"><p>STYLING</p></h3>
        <div class="section-content">
        <h4 class="tit-movie pdt">STYLING</h4>
        	<div id="list-slide" class="pc">
        		<ul>
                {% for  productCategory in product_categories %}
                  {% for  series in productCategory.series %}
              			<li>
              				<a href="#styling-{{series.id}}">
              					<span class="pic"><img src="{{asset(series.image)}}"></span>
              					{{series.getTitle}}
              				</a>
              			</li>
                  {% endfor %}
                {% endfor %}
        		</ul>
        	</div>
          	<div id="list-slide" class="sp">
          		<ul>
                  {% for  productCategory in product_categories %}
                    {% for  series in productCategory.series %}
                  			<li>
                  				<a href="#styling-{{series.id}}">
                  					<span class="pic"><img src="{{asset(series.image)}}"></span>
                            	{{series.getTitle}}
                  				</a>
                  			</li>
                    {% endfor %}
                  {% endfor %}
          		</ul>
          	</div>
          <div class="movie-section pb0 no-border">
                {% for productCategory in product_categories %}
                	<div class="movie-inner">
                    	<h5 class="tit-line-top"><span>{{productCategory.getTitle}}</span></h5>
                      {% for  serie in productCategory.series %}
                  	    <h6 class="tit-gray">{{serie.getTitle}}</h6>
                        <ul id="styling-{{serie.id}}" class="movie-list">
                            {% for  styling in serie.styling %}
                                <li id="styling-series-{{loop.index}}">
                                  <div class="movie">
                                      <div class="movie-in">
                                          <iframe src="https://www.youtube.com/embed/{{styling.videoId}}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                      </div>
                                  </div><!-- .movie -->
                                  <div class="text">
                                      <p>{{styling.getTitle}}</p>
                                  </div>
                                </li>
                            {% endfor %}
                        </ul>
                      {% endfor %}
                {% endfor %}
                </div>
				<!-- .movie-inner -->
        </div><!-- .movie-section -->
    {% else %}
    <h3 class="tit-vertical sticky"><p>STYLING</p></h3>
    <div class="section-content">
        <h4 class="tit-line-to">No Styling.</h4>
    </div>
		{% endif %}

        </div><!-- .section-content -->
      </div><!-- .section-inner -->
    </section><!-- .section-block -->

  </div><!-- .content-inner -->
</div><!-- .content-wrapper -->



{% endblock %}

{% block javascripts_body %}
    {{ parent() }}


{% endblock %}
