<div class="col-xs-12">
	<div class="">
        <div class="input-group">
    	        {{form_widget(form_search.productCategory, {'attr':{'class':'form-control', 'id' : 'productCategory'}})}}
            <span class="input-group-btn"></span>
    	        {{form_widget(form_search.series,{'attr':{'class':'form-control', 'id' : 'series'}} )}}
            <span class="input-group-btn"></span>
                {{form_widget(form_search.q, {'attr':{'class':'form-control', 'placeholder':'Search ...' }})}}
            <span class="input-group-btn">
                {{form_widget(form_search.search, {'id' : 'search', 'label': 'Search','class':'form-control'})}}
            </span>
        </div>
	</div>


</div>

<div class="col-md-12 text-center" style="margin-top:10px;"></div>
<script>
    $("#admin_search_styling_productCategory").change(function () {
        var categorySelector = $(this);

        // Request the neighborhoods of the selected city.
        $.ajax({
            url: "{{ path('admin_styling_list_series_by_category') }}",
            type: "GET",
            dataType: "JSON",
            data: {
                catId: categorySelector.val()
            },
            success: function (serie) {
                var serieSelect = $("#admin_search_styling_series");

                // Remove current options
                serieSelect.html('');

                // Empty value ...
                serieSelect.append('<option value> Select a series of ' + categorySelector.find("option:selected").text() + ' ...</option>');


                $.each(serie, function (key, serie) {
                    serieSelect.append('<option value="' + serie.id + '">' + serie.name + '</option>');
                });
            },
            error: function (err) {
                alert("An error ocurred while loading data ...");
            }
        });
    });
</script>
