
<div class="desktop-menu hidden-xs">

<!-- <div id="navbar" class="navbar-collapse collapse"> -->
<div class="row container-fluid main-menu-1">
    <div class="menu-1">
        <ul id="nav" class="nav navbar-nav navbar-right">
            {#{{ app.request.get('_route') == 'products' ? 'active' }}#}
            <li class="skew ">
                <a class ="{{ app.request.get('_route') == 'products' ? 'active' }}{{ app.request.get('_route') == 'product_series' ? 'active' }}{{ app.request.get('_route') == 'product_series_list' ? 'active' }}" href="{{path('products')}}">
                    <span>PRODUCT LINEUP</span>
                </a>
            </li>
            {#<li class="skew"><a class="{{ app.request.get('_route') == 'style_guide' ? 'active' }}" href="{{path('style_guide')}}"><span>STYLE GUIDE</span></a></li>#}
            <li class="skew"><a class ="{{ app.request.get('_route') == 'contact' ? 'active' }}" href="{{path('contact')}}"><span>CONTACT US</span></a></li>
            <li class="dropdown"><a class="menu-global"href="#"><i class="fa fa-globe"></i> <span>GLOBAL</span> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="http://www.gatsbythailand.com" target="_blank">{{"thailand"|upper}}</a></li>
                  <li><a href="http://www.gatsbyglobal.com/usa/" target="_blank">{{"usa"|upper}}</a></li>
                  <li><a href="http://www.gatsby.cn/" target="_blank">{{"china"|upper}}</a></li>
                  <li><a href="http://www.gatsby.hk/" target="_blank">{{"hong kong"|upper}}</a></li>
                  <li><a href="http://gatsbyindia.co.in/" target="_blank">{{"india"|upper}}</a></li>
                  <li><a href="http://www.gatsby.co.id/" target="_blank">{{"indonesia"|upper}}</a></li>
                  <li><a href="http://www.gatsby.jp/" target="_blank">{{"japan"|upper}}</a></li>
                  <li><a href="http://www.gatsby.kr/" target="_blank">{{"korea"|upper}}</a></li>
                  <li><a href="http://gatsby.com.my/" target="_blank">{{"malaysia"|upper}}</a></li>
                  <li><a href="http://www.gatsby.sg/" target="_blank">{{"singapore"|upper}}</a></li>
                  <li><a href="http://www.gatsby.com.tw/" target="_blank">{{"taiwan"|upper}}</a></li>
                  <li><a href="http://www.gatsby.ph/" target="_blank">{{"philippines"|upper}}</a></li>
                  <li><a href="https://www.gatsbyglobal.com/uk/" target="_blank">{{"UK"|upper}}</a></li>
                  <li><a href="https://www.gatsbyglobal.com/ca/" target="_blank">{{"canada"|upper}}</a></li>
              </ul>

            </li>

        </ul>
    </div>
</div><!--/ .main-menu-1 -->
<div id="navbar2" class="row main-menu-2">
    <div class="menu-2">
          <ul class="nav navbar-nav  topnav-centered">
            <li class="dropdown center">
                <a href="{{path('new_products')}}" ><span>NEW PRODUCT</span>&nbsp;<span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                {% if (new_products|length >0) %}
                  {% for series in new_products %}
                      <li class="center sub-menu-series">
                          <div class="box-ribbon">
                              <a href="{{path('product_series_list', {'id':series.id,'category':series.productCategory.getTitle|slug ,'series':series.getTitle|slug })}}">
                                  {% if series.image|length >0 %}
                                        <div class="new-products-label">
                                            <img width="50" src="{{asset('gatsby/images/new-icon.png')}}" >
                                        </div>
                                        <img src="{{series.image|imagine_filter('menu_100x100')}}" alt="">
                                  {% else %}
                                        <img src="{{asset('gatsby/images/no-image.png')|imagine_filter('menu_100x100')}}" >
                                  {% endif %}

                                    <div class="product-name-title">{{series.getTitle}}</div>
                                </a>
                            </div>
                                  <!-- &nbsp;<span class="label label-danger">New !</span> -->
                      </li>
                  {% endfor %}
                {% endif %}
                </ul>
            </li>
            {% if (categories|length >0) %}
                {% for cat in categories %}
                    <li class="dropdown center">
                        <a href="{{path('product_series', {'id':cat.id, 'slug':cat.getTitle|slug })}}"><span>{{cat.getTitle}}</span>&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% if (cat.series|length >0) %}
                                {% for series in cat.series %}
                                    <li class="center sub-menu-series">
                                        <div class="box-ribbon">
                                            <a href="{{path('product_series_list', {'id':series.id,'category':series.productCategory.getTitle|slug ,'series':series.getTitle|slug })}}">

                                                 {% if series.image|length >0 %}
                                                <img src="{{series.image|imagine_filter('menu_100x100')}}" alt="">
                                                {% else %}
                                                    <img src="{{asset('gatsby/images/no-image.png')|imagine_filter('menu_100x100')}}" >
                                                 {% endif %}
                                                <div class="product-name-title">{{series.getTitle}}</div>

                                             </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                {% endfor %}
            {% endif %}
          </ul>
    </div>
</div><!--/ .main-menu-2  -->
</div> <!--/ .desktop-menu-->
